.a1{
    background-color: rgb(120, 120, 194);
}
.a2{
    background-color: cadetblue;
}
.a3{
    background-color: rgb(120, 120, 194);
}
.a4{
    background-color: cadetblue;
}
.a5{
    background: black;
}
